@font-face {
	font-family: Seshat;
	src: url('font/Seshat.otf') format('opentype');
}

@font-face {
	font-family: Chomp;
	src: url('font/Chomp.ttf') format('truetype');
}

body {
}
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700);

.font-yanone{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

@font-face {
  font-family: chomp;
  src:url('font/28 days later.ttf')  format('truetype');}
@font-face {
  font-family: seshat;
  src:url('font/seshat.ttf')  format('opentype');}

.font-cursive{
font-family: "Brush Script MT", cursive;
}

.underline{text-decoration:underline;}

.sidelines-double {
  line-height: 0.5;
  text-align: center;

span {
  display: inline-block;
  position: relative;  
}
span:before,
span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 600px;
}
span:before {
  right: 100%;
  margin-right: 15px;
}
span:after {
  left: 100%;
  margin-left: 15px;
}
}


.sidelines {
  line-height: 0.5;
  text-align: center;

span {
  display: inline-block;
  position: relative;  
}
span:before,
span:after {
  content: "";
  position: absolute;
  height: .25em;
  border-bottom: 1px solid white;
  top: 0px;
  width: 600px;
}
span:before {
  right: 100%;
  margin-right: 15px;
}
span:after {
  left: 100%;
  margin-left: 15px;
}
}



hr.style-eight {
padding: 0;
border: none;
border-top: medium double #333;
color: #333;
text-align: center;
}



hr.sexy_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}