
//IMPORTS

  @import "heightstylesheet";
  @import "operandsstylesheet";
  @import "decorstylesheet";
  @import "fontsstylesheet";

  @font-face {font-family:"bebas";src: url('bebas.ttf') format('truetype')}
  @font-face {font-family:"oswaldbold";src: url('oswaldbold.ttf') format('truetype')}
  @font-face {font-family:"oswaldlight";src: url('oswaldlight.ttf') format('truetype')}
  @font-face {font-family:"komikatitle";src: url('komikatitle.ttf') format('truetype')}
  @font-face {font-family:"ostrichblack";src: url('ostrichblack.ttf') format('truetype')}
  //IMPORTS

  //GENERAL RULES
  ::selection{color:black; background:lightgray;}
  body{font-size:2rem;color:lightgray;
       margin:0;
         font-family: 'Oswald', sans-serif;line-height:1;
        p{line-height:1.2;font-size:1.3rem;}
        h4{font-family:"bebas";font-size:3rem;text-transform:uppercase; margin:0;
           }
  }
  /*body{padding:0; margin:0;position:relative;min-height:100%;
      //fonts

      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      
      ul{padding:0; margin:0;}
        li{list-style:none;
           font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
           text-transform:capitalize;
           
        }
        h1,h2,h3,h5{font-family: "chomp"; text-shadow: 0px 5px 4px rgba(150, 150, 150, 0.9);}
        h4{margin:5px 0;}
        h1{font-size:8em;}h2{font-size:4em;}h5{font-size:4em;}
        p{font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;  
          font-size:1.5rem;  
          text-transform:uppercase;}
             
             label{cursor:pointer;}
             a{transition:all .5s ease-in-out}
}*/
  .kill{display:none!important;}
//.menu{position:absolute;width:50%;padding:0 20%;margin:0 5%;padding-bottom:20px;border-bottom:1px solid black;}
  a, a:visited, a:hover, a:active{text-decoration: none;color:inherit;cursor:pointer;}
#header ul{width:1060px;height:62px; border-bottom:1px solid black;text-transform: uppercase;
    a{font-family:oswaldlight;color:black;font-size: 1.8rem;margin-right:20px;}
}
#home{img{margin-top:-130px;width:100%;max-width:1500px;}//min-width:1120px;
      //{position:absolute;top:70px;left:0;width:100%;min-width:1120px;}
    .nametitle{text-align:center;position:relative;//top:270px;z-index:3;
               min-width: 1100px;margin: auto;  
               max-height: 900px;overflow: hidden;
               -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: gray;    
        h1{font-size:2.5em;margin:0;text-transform:uppercase;font-family:oswaldbold;position:relative;top:300px;}
        h2{font-size:1.8rem;margin:0;text-transform:capitalize;font-family:oswaldlight;position:relative;top:300px;}
        }
    margin-bottom:-220px;
}
#about{margin: 40px auto;
width: 1100px;
    .head{width:700px;height:0px;position:relative;top:-18px;left:5px;margin:auto;z-index:2;}
    h4{position:relative;top: 9px;}
    .contactinfo{color:black;margin:90px auto -50px;h5{margin:0;}
                a{margin-left: 300px;font-weight: bold;font-size: smaller;text-decoration: overline;}
    }
            .bg{position:relative;
                  height:500px;width:700px;
                         img{display:block;margin:auto;height:120%;
                             }
                         .blacktext{height:100%;width:56%;background:black;
                             position: absolute;top: 0;left: 10px;
                                    p{color:#888888; margin:25px;margin-top:80px;}
                                    }
                }
        }

//width:60%; width:26%; max-width:340px;
#films{margin-top:220px;width: 1500px;margin: 220px auto;
        .film{margin:50px 0;min-width:1500px;
                >div{float:left;}
    /*.details.small{margin:10px 20px;}
    .details.short{margin:auto 20px;}*/
    .details{height:100%;width: 23%;margin: auto 2%;margin-left: 5%;color:white;max-width: 340px;

             p{margin:0;}.titlebox{background-color:black;padding:20px;font-size:1.4rem; margin-top:2%;}
            p.current{font-family:bebas;text-transform:uppercase;font-size:1.4rem;color:red;}
             p.title{font-family:ostrichblack;text-transform:uppercase;
                     b, i{text-transform:none;font-family:oswaldlight;font-style:normal;}
             }
             p.role{font-family:bebas;text-transform:uppercase;font-size:1.2rem;}
            p.description{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:.9rem;color:darkgray;
                          margin-top:30px;}
.fb1{right:20px;bottom:20px;}       .fb2{right: 55px;bottom: 70px;}  .imdb{right:0;bottom:70px;}
            .awards{position:relative; img{width:47%; vertical-align:middle;}}//position:absolute;
            }
        }
     .previewpics img{width:100%; max-width:500px;}
    .previewpics{width:70%; .top2,.bottom2{float:left;display:inline-block;width:100%;}//min-width:950px;
        .img{display:block;margin:5px 10px ;float:left;position:relative;width: 48%; max-width:500px;}
        a{position:absolute;top:0;left:0;height:100%;width:100%;}
                }
    .previewpics.small .img{width:20%;}
}
a:hover ~.fb_iframe_widget{display:inline-block!important;} .fb_iframe_widget:hover{display:inline-block!important;}
.fb_iframe_widget{position:absolute!important;top:0;left:10px;z-index:9;cursor:pointer;display:none!important;
                  
}
#news{width:1000px;margin:auto;
      color:black;font-size:1rem;font-weight:bold;font-family:bebas;
      h1{text-transform:uppercase;font-size:3.6rem;font-weight:100;}

      .article{height:100%;width:100%;
               margin-bottom:100px;font-family:Arial, ArialRegular, helvetica, sans-serif;
              .img{float:left;}
              .details{width:400px;margin-left:300px;
                    h3{font-size:1.7rem;text-transform:uppercase;font-weight: lighter;}
                    p{font-size:1rem;}p.tagline{color:#27937a;}
                    }
      }
      #article1 h3{font-family:komikatitle;} #article2 h3{font-family:bebas;}

      .future{
          h2{font-size: 1.1rem;font-weight: 100;margin-top:50px;   b{font-size:1.3rem;}}
            img{width:450px;margin-left:20px;}
            .inline-block{vertical-align:top;}
      }
}
#cv{
    h1{text-transform:uppercase;font-size:5rem;
       font-family:bebas; font-weight:100;
       text-align: center;margin:10%;color:black;}
}
#footer{
    height:20px;text-align:center;margin:180px auto 50px;position:relative;p{font-size:1.2rem;}
}



//lightbox
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(overlay.png) repeat; 
    text-align:center;
    background: rgba(0,0,0,.7);

    img{max-width:80%;}
    p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; }
}