.overflow-hide {
  overflow: hidden; }

.centerdiv {
  width: auto;
  text-align: center; }
  .centerdiv ul {
    width: auto;
    padding: 0;
    margin: auto;
    line-height: 1.4; }
    .centerdiv ul li {
      display: inline;
      text-align: center; }

.margin {
  margin: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

.pos-abs {
  position: absolute; }

.pos-rel {
  position: relative; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

@font-face {
  font-family: "bebas";
  src: url('bebas.ttf') format('truetype'); }

@font-face {
  font-family: "oswaldbold";
  src: url('oswaldbold.ttf') format('truetype'); }

@font-face {
  font-family: "oswaldlight";
  src: url('oswaldlight.ttf') format('truetype'); }

@font-face {
  font-family: "komikatitle";
  src: url('komikatitle.ttf') format('truetype'); }

@font-face {
  font-family: "ostrichblack";
  src: url('ostrichblack.ttf') format('truetype'); }

::selection {
  color: black;
  background: lightgray; }

body {
  font-size: 2rem;
  color: lightgray;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1; }
  body p {
    line-height: 1.2;
    font-size: 1.3rem; }
  body h4 {
    font-family: "bebas";
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0; }

.kill {
  display: none !important; }

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

#header ul {
  width: 1060px;
  height: 62px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  margin-top: 15px; }
  #header ul a {
    font-family: oswaldlight;
    color: black;
    font-size: 1.8rem;
    margin-right: 20px; }

#home {
  margin-top: -2px;
  margin-bottom: -220px; }
  #home img {
    margin-top: -130px;
    width: 100%;
    max-width: 1500px; }
  #home .nametitle {
    text-align: center;
    position: relative;
    min-width: 1100px;
    margin: auto;
    max-height: 900px;
    overflow: hidden;
    text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray; }
    #home .nametitle h1 {
      font-size: 2.5em;
      margin: 0;
      text-transform: uppercase;
      font-family: oswaldbold;
      position: relative;
      top: 350px; }
    #home .nametitle h2 {
      font-size: 1.8rem;
      margin: 0;
      text-transform: capitalize;
      font-family: oswaldlight;
      position: relative;
      top: 350px; }

#about {
  margin: 40px auto;
  width: 1100px; }
  #about .head {
    width: 700px;
    height: 0px;
    position: relative;
    top: -18px;
    left: 5px;
    margin: auto;
    z-index: 2; }
  #about h4 {
    position: relative;
    top: 9px; }
  #about .contactinfo {
    color: black;
    margin: 90px auto -50px; }
    #about .contactinfo h5 {
      margin: 0; }
    #about .contactinfo a {
      margin-left: 300px;
      font-weight: bold;
      font-size: smaller;
      text-decoration: overline; }
  #about .bg {
    position: relative;
    height: 500px;
    width: 700px; }
    #about .bg img {
      display: block;
      margin: auto;
      height: 120%; }
    #about .bg .blacktext {
      height: 100%;
      width: 56%;
      background: black;
      position: absolute;
      top: 0;
      left: 10px; }
      #about .bg .blacktext p {
        color: #888888;
        margin: 25px;
        margin-top: 80px; }

#films {
  width: 1500px;
  margin: 120px auto; }
  #films .film {
    margin: 50px 0;
    min-width: 1500px; }
    #films .film > div {
      float: left; }
    #films .film .details {
      height: 100%;
      width: 23%;
      margin: auto 2%;
      margin-left: 5%;
      color: white;
      max-width: 340px; }
      #films .film .details p {
        margin: 0; }
      #films .film .details .titlebox {
        background-color: black;
        padding: 20px;
        font-size: 1.4rem;
        margin-top: 2%; }
      #films .film .details p.current {
        font-family: bebas;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: red; }
      #films .film .details p.title {
        font-family: ostrichblack;
        text-transform: uppercase; }
        #films .film .details p.title b, #films .film .details p.title i {
          text-transform: none;
          font-family: oswaldlight;
          font-style: normal; }
      #films .film .details p.role {
        font-family: bebas;
        text-transform: uppercase;
        font-size: 1.2rem; }
      #films .film .details p.description {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        color: darkgray;
        margin-top: 30px; }
      #films .film .details .fb1 {
        right: 20px;
        bottom: 20px; }
      #films .film .details .fb2 {
        right: 55px;
        bottom: 70px; }
      #films .film .details .imdb {
        right: 0;
        bottom: 70px; }
      #films .film .details .awards {
        position: relative; }
        #films .film .details .awards img {
          width: 47%;
          vertical-align: middle; }
  #films .previewpics img {
    width: 100%;
    max-width: 400px; }
  #films .previewpics {
    width: 70%; }
    #films .previewpics .top2, #films .previewpics .bottom2 {
      float: left;
      display: inline-block;
      width: 100%; }
    #films .previewpics .img {
      display: block;
      margin: 5px 10px;
      float: left;
      position: relative;
      width: 48%;
      max-width: 400px; }
    #films .previewpics a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  #films .previewpics.small .img {
    width: 20%; }

a:hover ~ .fb_iframe_widget {
  display: inline-block !important; }

.fb_iframe_widget:hover {
  display: inline-block !important; }

.fb_iframe_widget {
  position: absolute !important;
  top: 0;
  left: 10px;
  z-index: 9;
  cursor: pointer;
  display: none !important; }

#news {
  width: 1000px;
  margin: auto;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: bebas; }
  #news h1 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 100; }
  #news .article {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    font-family: Arial, ArialRegular, helvetica, sans-serif; }
    #news .article .img {
      float: left; }
    #news .article .details {
      width: 400px;
      margin-left: 300px; }
      #news .article .details h3 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: lighter; }
      #news .article .details p {
        font-size: 1rem; }
      #news .article .details p.tagline {
        color: #27937a; }
  #news #article1 h3 {
    font-family: komikatitle; }
  #news #article2 h3 {
    font-family: bebas; }
  #news .future h2 {
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 50px; }
    #news .future h2 b {
      font-size: 1.3rem; }
  #news .future img {
    width: 450px;
    margin-left: 20px; }
  #news .future .inline-block {
    vertical-align: top; }

#cv h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: bebas;
  font-weight: 100;
  text-align: center;
  margin: 10%;
  color: black; }

#footer {
  height: 20px;
  text-align: center;
  margin: 190px auto 0;
  position: relative; }
  #footer p {
    font-size: 1.2rem; }

.icons {
  position: fixed;
  left: 0;
  top: 30%;
  z-index: 9; }
  .icons > div {
    border-bottom: 1px solid transparent;
    height: 50px;
    position: relative; }
  .icons img {
    width: 50px;
    height: 50px;
    background-color: #3D3D3D; }
  .icons a {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; }
  .icons #imdb:hover img {
    background-color: #f4d701; }
  .icons #linkedin:hover img {
    background-color: #007bb6; }
  .icons #twitter:hover img {
    background-color: #00aced; }

#lightbox {
  position: fixed;
  /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(overlay.png) repeat;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); }
  #lightbox img {
    max-width: 80%; }
  #lightbox p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
    font-size: 12px; }

/*# sourceMappingURL=stylesheet.css.map */