@import url("HeightStyleSheet.css");
@import url("OperandsStyleSheet.css");
@import url("DecorStyleSheet.css");
@import url("FontsStyleSheet.css");
@font-face {
  font-family: "bebas";
  src: url('BEBAS.ttf') format('truetype'); }

@font-face {
  font-family: "oswaldbold";
  src: url('oswaldbold.ttf') format('truetype'); }

@font-face {
  font-family: "oswaldlight";
  src: url('oswaldlight.ttf') format('truetype'); }

@font-face {
  font-family: "komikatitle";
  src: url('komikatitle.ttf') format('truetype'); }

@font-face {
  font-family: "ostrich-black";
  src: url('ostrich-black.ttf') format('truetype'); }

::selection {
  color: black;
  background: lightgray; }

body {
  font-size: 2rem;
  color: lightgray;
  font-family: 'Oswald', sans-serif;
  line-height: 1; }
  body p {
    line-height: 1.2;
    font-size: 1.3rem; }
  body h4 {
    font-family: "bebas";
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0; }

/*body{padding:0; margin:0;position:relative;min-height:100%;
      //fonts

      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
      
      ul{padding:0; margin:0;}
        li{list-style:none;
           font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
           text-transform:capitalize;
           
        }
        h1,h2,h3,h5{font-family: "chomp"; text-shadow: 0px 5px 4px rgba(150, 150, 150, 0.9);}
        h4{margin:5px 0;}
        h1{font-size:8em;}h2{font-size:4em;}h5{font-size:4em;}
        p{font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;  
          font-size:1.5rem;  
          text-transform:uppercase;}
             
             label{cursor:pointer;}
             a{transition:all .5s ease-in-out}
}*/
.kill {
  display: none !important; }

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

#header ul {
  width: 1060px;
  height: 62px;
  border-bottom: 1px solid black;
  text-transform: uppercase; }
  #header ul a {
    font-family: oswaldlight;
    color: black;
    font-size: 1.8rem;
    margin-right: 20px; }

#home img {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  min-width: 1120px; }
#home .nametitle {
  text-align: center;
  position: relative;
  top: 270px;
  z-index: 3;
  min-width: 1100px;
  margin: auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray; }
  #home .nametitle h1 {
    font-size: 3em;
    margin: 0;
    text-transform: uppercase;
    font-family: oswaldbold; }
  #home .nametitle h2 {
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
    font-family: oswaldlight;
    position: relative; }

#about {
  margin-top: 40px; }
  #about .head {
    width: 700px;
    height: 0px;
    position: relative;
    top: -18px;
    left: 5px;
    margin: auto;
    z-index: 2; }
  #about h4 {
    position: relative;
    top: 9px; }
  #about .bg {
    position: relative;
    height: 500px;
    width: 700px; }
    #about .bg img {
      display: block;
      margin: auto;
      height: 120%; }
    #about .bg .blacktext {
      height: 100%;
      width: 56%;
      background: black;
      position: absolute;
      top: 0;
      left: 10px; }
      #about .bg .blacktext p {
        color: #888888;
        margin: 25px;
        margin-top: 80px; }

#film4 {
  margin-bottom: 0; }

#film5 {
  margin-top: 0; }

#films {
  margin-top: 220px; }
  #films .film {
    margin: 50px 0;
    min-width: 1500px; }
    #films .film > div {
      float: left; }
    #films .film .details.small {
      margin: 10px 20px; }
    #films .film .details.short {
      margin: 70px 20px; }
    #films .film .details {
      height: 100%;
      width: 300px;
      margin: 120px 20px;
      margin-left: 60px !important;
      color: white; }
      #films .film .details p {
        margin: 0; }
      #films .film .details .titlebox {
        background-color: black;
        padding: 20px;
        font-size: 1.4rem; }
      #films .film .details p.title {
        font-family: ostrich-black;
        text-transform: uppercase; }
        #films .film .details p.title b, #films .film .details p.title i {
          text-transform: none;
          font-family: oswaldlight;
          font-style: normal; }
      #films .film .details p.role {
        font-family: bebas;
        text-transform: uppercase;
        font-size: 1.2rem; }
      #films .film .details p.description {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        color: darkgray;
        margin-top: 30px; }
      #films .film .details .fb1 {
        right: 20px;
        bottom: 20px; }
      #films .film .details .fb2 {
        right: 55px;
        bottom: 70px; }
      #films .film .details .imdb {
        right: 0;
        bottom: 70px; }
      #films .film .details .awards {
        position: relative; }
        #films .film .details .awards img {
          position: absolute; }
  #films .previewpics {
    width: 20px; }
    #films .previewpics .top2, #films .previewpics .bottom2 {
      float: left;
      display: inline-block;
      min-width: 950px; }
    #films .previewpics .img {
      display: block;
      margin: 5px;
      float: left;
      position: relative; }
    #films .previewpics a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  #films .previewpics.small {
    width: 1100px;
    min-width: 1100px;
    margin: 0; }
    #films .previewpics.small .img {
      width: 20%; }
    #films .previewpics.small img {
      width: 220px; }
    #films .previewpics.small a {
      width: 220px; }

a:hover ~ .fb_iframe_widget {
  display: inline-block !important; }

.fb_iframe_widget:hover {
  display: inline-block !important; }

.fb_iframe_widget {
  position: absolute !important;
  top: 0;
  left: 10px;
  z-index: 9;
  cursor: pointer;
  display: none !important; }

#news {
  width: 1000px;
  margin: auto;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  font-family: bebas; }
  #news h1 {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: 100; }
  #news .article {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    font-family: Arial, ArialRegular, helvetica, sans-serif; }
    #news .article .img {
      float: left; }
    #news .article .details {
      width: 400px;
      margin-left: 300px; }
      #news .article .details h3 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: lighter; }
      #news .article .details p {
        font-size: 1rem; }
      #news .article .details p.tagline {
        color: #27937a; }
  #news #article1 h3 {
    font-family: komikatitle; }
  #news #article2 h3 {
    font-family: bebas; }
  #news .future h2 {
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 50px; }
    #news .future h2 b {
      font-size: 1.3rem; }

#cv h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-family: bebas;
  font-weight: 100;
  text-align: center;
  margin-top: 17%;
  color: black; }

#footer {
  height: 20px;
  text-align: center;
  margin: 150px auto 50px; }

#lightbox {
  position: fixed;
  /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(overlay.png) repeat;
  text-align: center;
  background: rgba(0, 0, 0, 0.7); }
  #lightbox p {
    text-align: right;
    color: #fff;
    margin-right: 20px;
    font-size: 12px; }

/*# sourceMappingURL=StyleSheet.css.map */